<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <style>
        .row-perso {
            min-height: 2rem;
            margin: 2rem 0;
            padding: 10px;
            border-radius: 5px;
            background-color: rgba(249, 235, 251, 0.4);
        }
        .row-perso > div:first-child:after {
            content: " : ";
        }
    </style>
    <title>Admin</title>
</head>
<body>
<div class="container d-flex">
    <div class="col-4 my-5">
            <img src="/static/images/covers/fLDFor3Rl5TWFIZuVgewQ17gEPf.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-1"></div>
    <div class="col-7">
        <div>
            <div class="my-5">
                <iframe class="col-12" style="aspect-ratio: 16/9" src="https://www.youtube.com/embed/HQkjZuCkOt8"
                        title="BLACK PANTHER 2: WAKANDA FOREVER Trailer International (2022)" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
            <div class="row-perso d-flex flex-wrap justify-content-between">
                <div>Titre</div>
                <div>Black Panther : Wakanda Forever</div>
            </div>
            <div class="row-perso d-flex flex-wrap justify-content-between">
                <div>Durée</div>
                <div>2h 41m</div>
            </div>
            <div class="row-perso d-flex flex-wrap justify-content-between">
                <div>Origine</div>
                <div>Anglais</div>
            </div>
            <div class="row-perso d-flex flex-wrap justify-content-between">
                <div>Date de production</div>
                <div>2022</div>
            </div>
            <div class="row-perso d-flex flex-wrap justify-content-between">
                <div>Synopsis</div>
                <div style="text-align: right">Après la mort du roi T'Challa alias Black Panther, le Wakanda est en deuil et Ramonda a repris le siège royal avec l'aide de sa fille Shuri, des Dora Milaje, Okoye, Ayo et de M'Baku. Cependant, quand Namor, roi de Talocan, déclare la guerre à la nation, les personnages que nous connaissons vont devoir s'allier à de nouvelles personnes, comme Riri Williams mais aussi à d'anciennes connaissances pour vaincre cette menace.</div>
            </div>
            <div class="row-perso d-flex flex-wrap justify-content-between">
                <div>Date de publication</div>
                <div>08 / 11 / 22</div>
            </div>
            <div class="row-perso d-flex flex-wrap justify-content-between">
                <div>Date de suppresion</div>
                <div>31 / 12 / 22</div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>
